---
layout: default
label: Inbox

---

<!-- Fixed navbar -->
<div class="container">
  <div class="ui inverted menu top__menu">
    <a class="ui item microsoft_logo">
      <i class="grid layout icon"></i>
    </a>
    <div class="header item">
      Outlook Mail
    </div>
    <div class="right menu">
      <a class="ui item">
        <i class="skype icon"></i>
      </a>
      <a class="ui item">
        <i class="alarm icon"></i>
      </a>
      <a class="ui item">
        <i class="setting icon"></i>
      </a>
      <a class="ui item">
        <i class="help icon"></i>
      </a>
    </div>
  </div>
</div>

<!-- Begin page content -->
<div class="ui container">
  <div class="main">
    <div class="sidebar_left">
      <div class="sidebar_left__search">
        <span class="sidebar_left__search__text">Search Mail and People</i></span>
        <span class="sidebar_left__search__icon"><i class="search icon"></i></span>
      </div>

      <div class="sidebar_left__folders">
        <div class="ui vertical secondary menu">
          <div class="item">
            <div class="header">Folders</div>
            <div class="menu">
              <a class="item">Inbox</a>
              <a class="item">Junk Mail</a>
              <a class="item">Drafts</a>
              <a class="item">Sent Items</a>
              <a class="item">Deleted Items</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="content">
      <div class="content__toolbar">
        <div class="ui secondary menu">
          <a class="ui item"><i class="plus square outline icon"></i>New</a>
          <a class="ui item"><i class="trash outline icon"></i>Delete</a>
          <a class="ui item"><i class="archive icon"></i>Archive</a>
          <a class="ui item">Junk<i class="angle down icon"></i></a>
          <a class="ui item">Sweep</a>
          <a class="ui item">Move to<i class="angle down icon"></i></a>
          <a class="ui item">Categories<i class="angle down icon"></i></a>

          <div class="ui right secondary menu">
            <a class="ui item"><i class="undo icon"></i>Undo</a>
          </div>
        </div>
      </div>
      <div class="content__messages">
        <div class="content__messages__list">
          <div class="ui relaxed divided list">

              {%include mail_item.html %}
              {%include mail_item.html %}
              {%include mail_item.html %}
              {%include mail_item.html %}

          </div>
        </div>
        <div class="content__messages__selected">
          <div class="content__messages__selected__header">
            <div class="content__messages__selected__header_title">Urgent needs attention</div>
            <div class="content__messages__selected__header_sender">Adam Stewart &lt;adam@gizra.com&gt;</div>
            <div class="content__messages__selected__header__reply">
              <div class="content__messages__selected__header__reply_all"><i class="reply all icon"></i>Reply All<i class="angle down icon"></i></div>
            </div>
            <div class="content__messages__selected__header_date">Tue 9/13/2016 10:26 AM</div>
          </div>
          <div class="content__messages__selected__content">
            <p>Adam,</p>

            <p>Bacon ipsum dolor amet ham hock short loin shoulder capicola landjaeger sirloin beef ribs. Shank
              rump leberkas picanha kevin jerky. Ground round short loin shank, tail beef ribs doner pig flank
              cupim. Pig ham venison tongue alcatra andouille sirloin pancetta bresaola leberkas. Kielbasa meatball
              alcatra pork shoulder prosciutto pancetta landjaeger short loin shankle andouille. Ham hock short
              ribs pork belly venison drumstick landjaeger chicken rump fatback doner kevin. Boudin tongue andouille
              turducken.
            </p>

            <p>Shankle doner filet mignon rump picanha. Pastrami t-bone pork loin sausage. Turducken spare ribs
              alcatra, sausage sirloin short loin kielbasa ribeye. Tongue tri-tip jerky chicken filet mignon,
              tail hamburger turkey venison shankle pig ham capicola kevin.
            </p>

            <p>Fatback pig ribeye hamburger biltong landjaeger beef ribs pork belly porchetta tri-tip. Corned
              beef leberkas cupim rump strip steak ground round ball tip tongue, shankle venison flank sirloin
              kielbasa bresaola. Hamburger picanha pork loin capicola salami pancetta. Boudin kielbasa shankle
              pig, beef ribs pancetta capicola porchetta spare ribs corned beef pork belly biltong sirloin short
              loin. Pig hamburger landjaeger meatball boudin, tail flank kevin filet mignon ribeye fatback.
            </p>
            <p>
              Adam
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
