/* Icons from directory "" */
.icon-arrow-circle,.icon-arrow-circle\:regular{background-image:url('icons/icons.svg');background-position:0 0;background-repeat:no-repeat}
.icon-arrow-circle-dims{width:32px;height:32px}
.icon-arrow-down,.icon-arrow-down\:regular{background-image:url('icons/icons.svg');background-position:0 -32px;background-repeat:no-repeat}
.icon-arrow-down-dims{width:10px;height:10px}
.icon-arrow-left,.icon-arrow-left\:regular{background-image:url('icons/icons.svg');background-position:0 -42px;background-repeat:no-repeat}
.icon-arrow-left-dims{width:32px;height:32px}
.icon-arrow-right,.icon-arrow-right\:regular{background-image:url('icons/icons.svg');background-position:0 -74px;background-repeat:no-repeat}
.icon-arrow-right-dims{width:32px;height:32px}
.icon-arrow-up,.icon-arrow-up\:regular{background-image:url('icons/icons.svg');background-position:0 -106px;background-repeat:no-repeat}
.icon-arrow-up-dims{width:32px;height:32px}
.icon-bag-icon-blue,.icon-bag-icon-blue\:regular{background-image:url('icons/icons.svg');background-position:0 -138px;background-repeat:no-repeat}
.icon-bag-icon-blue-dims{width:32px;height:32px}
.icon-bag-icon,.icon-bag-icon\:regular{background-image:url('icons/icons.svg');background-position:0 -170px;background-repeat:no-repeat}
.icon-bag-icon-dims{width:32px;height:32px}
.icon-bag,.icon-bag\:regular{background-image:url('icons/icons.svg');background-position:0 -202px;background-repeat:no-repeat}
.icon-bag-dims{width:32px;height:32px}
.icon-big-arrow,.icon-big-arrow\:regular{background-image:url('icons/icons.svg');background-position:0 -234px;background-repeat:no-repeat}
.icon-big-arrow-dims{width:32px;height:32px}
.icon-checkmark,.icon-checkmark\:regular{background-image:url('icons/icons.svg');background-position:0 -266px;background-repeat:no-repeat}
.icon-checkmark-dims{width:32px;height:32px}
.icon-clock,.icon-clock\:regular{background-image:url('icons/icons.svg');background-position:0 -298px;background-repeat:no-repeat}
.icon-clock-dims{width:32px;height:32px}
.icon-edit,.icon-edit\:regular{background-image:url('icons/icons.svg');background-position:0 -330px;background-repeat:no-repeat}
.icon-edit-dims{width:32px;height:32px}
.icon-eye,.icon-eye\:regular{background-image:url('icons/icons.svg');background-position:0 -362px;background-repeat:no-repeat}
.icon-eye-dims{width:32px;height:32px}
.icon-group,.icon-group\:regular{background-image:url('icons/icons.svg');background-position:0 -394px;background-repeat:no-repeat}
.icon-group-dims{width:32px;height:32px}
.icon-levels,.icon-levels\:regular{background-image:url('icons/icons.svg');background-position:0 -426px;background-repeat:no-repeat}
.icon-levels-dims{width:32px;height:32px}
.icon-list,.icon-list\:regular{background-image:url('icons/icons.svg');background-position:0 -458px;background-repeat:no-repeat}
.icon-list-dims{width:32px;height:32px}
.icon-lock,.icon-lock\:regular{background-image:url('icons/icons.svg');background-position:0 -490px;background-repeat:no-repeat}
.icon-lock-dims{width:32px;height:32px}
.icon-person,.icon-person\:regular{background-image:url('icons/icons.svg');background-position:0 -522px;background-repeat:no-repeat}
.icon-person-dims{width:32px;height:32px}
.icon-place,.icon-place\:regular{background-image:url('icons/icons.svg');background-position:0 -554px;background-repeat:no-repeat}
.icon-place-dims{width:32px;height:32px}
.icon-plus,.icon-plus\:regular{background-image:url('icons/icons.svg');background-position:0 -586px;background-repeat:no-repeat}
.icon-plus-dims{width:32px;height:32px}
.icon-search,.icon-search\:regular{background-image:url('icons/icons.svg');background-position:0 -618px;background-repeat:no-repeat}
.icon-search-dims{width:32px;height:32px}
.icon-star,.icon-star\:regular{background-image:url('icons/icons.svg');background-position:0 -650px;background-repeat:no-repeat}
.icon-star-dims{width:32px;height:32px}
.icon-toggle-off,.icon-toggle-off\:regular{background-image:url('icons/icons.svg');background-position:0 -682px;background-repeat:no-repeat}
.icon-toggle-off-dims{width:32px;height:32px}
.icon-toggle-on,.icon-toggle-on\:regular{background-image:url('icons/icons.svg');background-position:0 -714px;background-repeat:no-repeat}
.icon-toggle-on-dims{width:32px;height:32px}
.icon-trash-bin,.icon-trash-bin\:regular{background-image:url('icons/icons.svg');background-position:0 -746px;background-repeat:no-repeat}
.icon-trash-bin-dims{width:32px;height:32px}
.icon-upload,.icon-upload\:regular{background-image:url('icons/icons.svg');background-position:0 -778px;background-repeat:no-repeat}
.icon-upload-dims{width:32px;height:32px}
.icon-x-mark,.icon-x-mark\:regular{background-image:url('icons/icons.svg');background-position:0 -810px;background-repeat:no-repeat}
.icon-x-mark-dims{width:32px;height:32px}